{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 align-self-center">Digital Image Processing</h1>
        <p class="lead"> An attempt to make a webapp for image processing.</p>
        <form id="" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            Browse file...
            <input name="file" type="file" id="inputGroupFile04" accept="image/*">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
{% endblock %}