{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-1">Menu</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Umum</h2>
                <div class="d-flex flex-wrap">
                    
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Normal</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Grayscale</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Zoom In</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Zoom Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Pergeseran</h2>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Geser Kiri</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Geser Kanan</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Geser Atas</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Geser Bawah</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Penerangan</h2>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Terang (*)</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_division') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Gelap (/)</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_addition') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Terang (+)</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_substraction') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Gelap (-)</button>
                                            </form>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Analisis Gambar</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-primary">Histogram</button>
                                </form>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Pemrosesan Gambar</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-primary">Histogram Equalizer</button>
                                </form>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Filter Gambar</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Edge Detection</button>
                    </form>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Blur</button>
                    </form>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Sharpening</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Segmentation</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Batas Bawah</th>
                                    <th>Batas Atas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="number" name="lower_thres" placeholder="0-255"></td>
                                    <td><input type="number" name="upper_thres" placeholder="0-255"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><button type="submit" class="btn btn-primary">Thresholding</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>After</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_path) }}" alt="image here">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
</style>
{% endblock %}